.option {
  cursor: pointer;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--font-color);
}

.option._hover {
  background-color: var(--hovered-option-color);
}

.option._disabled {
  color: var(--disabled-color);
  pointer-events: none;
}
